{% extends 'base.html.twig' %}
{% block body %}
{% include "components/navbar.html.twig"%}
<h2 class="page-header text-center">Add Event</h2>
   {{form_start(form)}}
   {{form_widget(form)}}
   {{form_end(form)}}
{% include "components/footer.html.twig"%}
{% endblock %}